.banner {
    width: 100%;
    &:hover {
        cursor: pointer;
    }
}

.bannerElement {
    width: 100%;
    height: 500px;
}

.innerBanner {
    margin: 0 auto;
    display: flex;
    width: 1080px;
    height: 300px;
}

.innerBanner button {
    background-color: transparent;
    border-color: rgb(243, 189, 122);
    color: rgb(243, 189, 122);
    width: 250px;
    height: 40px;
    line-height: 24px;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    padding: 7px 59px;
    text-transform: uppercase;
    display: inline-block;

    &:hover {
        cursor: pointer;
        background-color: rgb(243, 189, 122);
        color: #333333;
        transition: all 0.4s linear;
    }
}
